# Build artifacts
build/
build-tests/
build-docker/
build-tests-docker/
bin/
obj/
*.elf
*.uf2
*.bin
*.map

# Tools and SDK temp files
/tools/picotool/picotool-build/
/tools/picotool/picotool-src/
__pycache__/

# MCP server venv/build metadata
mcp/.venv/
mcp/*.egg-info/

# VS Code / IDE settings
#.vscode/
.cmake/
CMakeSettings.json

# OS files
Thumbs.db
.DS_Store

# Ozone files
tools/*.jdebug.user